/* LE HE PUESTO COMENTARIO EXPLICATORIO A LO QUE ME HA 
    PARECIDO QUE NO ESTÁ CLARO POR SI SOLO. */

.container{
    display: grid;
    grid-template-columns: 72% 28%;
    grid-template-rows: repeat(6,56.4px);
    grid-template-areas:  
    "ppal art1"
    "ppal art2"
    "ppal art3"
    "ppal art4"
    "ppal art5"
    "ppal art6";
}
footer{
    margin-right: 10%;
    margin-left: 10%;
    background: url(../img/bg_peu.png)
}

header{
    margin-left: 10%;
    margin-right: 10%;
    background: url(../img/bg_top.png);
}

main{
    background: black;
    margin-left: 10%;
    margin-right: 10%;
}

#ppal{
    grid-area: ppal;
}

#art1{
    grid-area: art1;
    color: white;
}

#art2{
    grid-area: art2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    word-spacing: 5px;
    color: white;
    font-family: sans-serif;
}


#art3{
    grid-area: art3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    word-spacing: 5px;
    color: white;
    font-family: sans-serif;
}

#art4{
    grid-area: art4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    word-spacing: 5px;
    color: white;
    font-family: sans-serif;
}

#art5{
    grid-area: art5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    word-spacing: 5px;
    color: white;
    font-family: sans-serif;
}
#art6{
    grid-area: art6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    word-spacing: 5px;
    color: white;
    font-family: sans-serif;
}

p{
    font-weight: bolder;
    font-family: sans-serif;
}


#ppal img{
    width: 600px;
    position: absolute;
}
#ppal div{
    position: relative;
    font-family: sans-serif;

}
/* Este es el modificador del flex que tiene que ver con el texto del juego */
#flexrag{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: flex-start;
    padding-left: 20px;
    width: 250px;

}
#ppal div h1{
    font-size: 20px;
    color: red;
}
#ppal div p{
    font-size: small;
    color: white;
}
header img{
    width: 200px;
}


header article{
    display: flex;
    justify-content: left;
    color: white;
    font-size: 10px;
    font-weight: lighter;
    font-family: sans-serif;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: url(../img/bg_menu.png);
}
header article nav{
    border-right: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
}
header article nav:last-child{
    border-right: none;
}
.imgsmall{
    width: 60px;
    padding-right: 5px;
}

#copyright{
    font-size: 8px;
    padding-left: 300px;
    color: rgb(119, 119, 119);
}

.sec1{
    display: flex;
}
.sec2{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 8px;
}

.sec2 div{
    padding-left: 5px;
}